include LICENSE.md
include README.rst
recursive-include sphinx_f4pga_theme/sphinx_f4pga_theme *
include versioneer.py
include sphinx_f4pga_theme/_version.py
include setup.cfg
include requirements.txt
include requirements-dev.txt
